= message_block :on => [:inventory, :inventory_item, :item]

%h1 Edit inventory, #{@inventory.created_at.to_date.to_formatted_s(:app_default)}

#container
  #transaction_list_app
    = render "shared/barcode_input_widget"

    = render :partial => 'shared/transaction_list', :locals => {:return_path => admin_index_path }

:javascript
  var categories          = new Application.Categories(#{ Category.to_json });
  var error_messages      = #{ Item.attribute_error_messages };
  var transaction         = { id : #{ @inventory.id }, transaction_items : #{ @inventory.inventory_items.to_json(:except => [:created_at,:updated_at],:include => {:item => {:methods => [:category_name, :limit_category_name]}}) }};

  $(function(){ inventory_app = new Application.InventoryAppView(transaction, "#{inventories_path}"); });
