= message_block :on => :user
%h1 Administration

%h2 Category distribution limits
%ul
  %li= link_to "Configure limits for categories", limit_categories_path
%h2 Manage user access privileges
= render 'authengine/admin/show'
%h2 Check database
%ul
  %li= link_to "Check for database errors", db_check_path
%h2 Reports
%ul
  %li= link_to "Generate reports", reports_path
%h2 Inventory
%ul
  %li= link_to "Take inventory", new_inventory_path
  %li= link_to "Past inventories", inventories_path
  %li= link_to "Item status", item_path(:id => 'undefined',:format => :html)
  %li= link_to "Generate report"
  %li= link_to "Resume inventory on"
  %li= link_to "Apply corrections to database"
  %li= link_to "Preferred SKU list", sku_list_path
%h2 Developer tools
%ul
  %li= link_to "Scanner test utility", scanner_index_path
