=form_for @client, :validate => true do |f|
  %table#client_form
    %tr
      %td= label :client, :firstName
      %td= f.text_field :firstName
    %tr
      %td= label :client, :lastName
      %td= f.text_field :lastName
    %tr
      %td= label :client, :mi
      %td= f.text_field :mi, :size => 2
    %tr
      %td= label :client, :birthdate
      %td= f.date_select :birthdate, :include_blank => true, :start_year => Date.today.year-100, :end_year => Date.today.year
    %tr
      %td= label :client, :race
      %td= f.select :race, race_options, :include_blank => true
    %tr
      %td= label :client, :gender
      %td= f.select :gender, ["M","F"]
    %tr{:style => "vertical-align:top"}
      %td= label :client, :headOfHousehold
      %td= f.check_box :headOfHousehold, {}, true

  %table{:style => 'padding-top:30px'}
    %tr
      %td{:width => '180px'}= f.submit "Save", :style => "margin-right: 100px", :id => :client_submit
      %td= link_to "Cancel", return_page

:javascript
  $(function(){
    $('#client_headOfHousehold').live('change', function(){
      var is_head = #{@client.is_sole_head_of_household?};
      var has_head = #{@household && @household.has_head?};
      var is_not_head_in_household_with_head = #{!@client.headOfHousehold? && @household && @household.has_head?};

      var warn = function(element, text){
        $(element).wrap('<div class="field_with_errors" />');
        $(element).wrap('<div style="float:left" />');
        $(element).parent().parent().append('<div style="float:left; margin-left:20px"><label for="client_headOfHousehold" class="message" style="margin-left:0px">'+text+'</label></div>')
      }

      var unwarn = function(element){
        $(element).unwrap()
        $(element).unwrap()
        $(element).parent().children().last().remove()
      }

      if (is_head){
        if(this.checked){
          unwarn(this)
          $('#client_submit').attr('disabled', false)
        }else{
          warn(this, "Head of household status cannot be removed.<br/>Instead, assign another household member as head.")
          $('#client_submit').attr('disabled', true)
        }
      }
      if (is_not_head_in_household_with_head){
        if(this.checked){
          warn(this, "There is already designated a head of household.<br/>Checking this checkbox replaces current head of household");
        }else{
          unwarn(this);
        }
      }

    })
  })
