%table
  -if hp = household && household.perm_address
    %tr
      %td Permanent address
      %td= hp
      %td= link_to 'View household', household_path(household)
  -if ht = household && household.temp_address
    %tr
      %td Temporary address
      %td= ht
      %td= link_to 'View household', household_path(household)
%table#quickcheck_table
  %tr#client_headings{:valign => :bottom, :style => 'height:30px'}
    %th Household residents (#{household && household.clients.size})
    %th ID date
    %th ID status
    %th Number of<br/>warnings
    %th
    %th
  %tr#household_headings{:valign => :bottom, :style => 'height:30px'}
    %th Qualification information
    %th Date of record
    %th Status
    %th Number of<br/>warnings
    %th
    %th

=button_tag  "Quickcheck completed", :id => :quickcheck_completed, :type => 'submit', :style => 'display:none'


:javascript
  var client_docs = #{household_client_docs}
  var household_docs = #{household_docs}
  var qualdoc = new Quickcheck.QualdocView(client_docs)

  $('#docfile_input').click(function(){$('#file_message').hide()});
  #{(render :partial => 'quickcheck_client_script', :handlers => [:erb], :formats => [:js]).html_safe}
