= message_block :on => [:client, :household, :res_qualdoc, :inc_qualdoc, :gov_qualdoc, :id_qualdoc]
%h1 Client quick check: #{ @client.first_last_name }

#quickcheck
  %table
    -if hp = household && household.perm_address
      %tr
        %td Permanent address
        %td= hp
        %td= link_to 'View household', household_path(household)
    -if ht = household && household.temp_address
      %tr
        %td Temporary address
        %td= ht
        %td= link_to 'View household', household_path(household)
  %table#quickcheck_table
    %tr#client_headings{:valign => :bottom, :style => 'height:30px'}
      %th Household residents (#{household && household.clients.size})
      %th ID date
      %th ID status
      %th Number of<br/>warnings
      %th
      %th
    %tr#household_headings{:valign => :bottom, :style => 'height:30px'}
      %th Qualification information
      %th Date of record
      %th Status
      %th Number of<br/>warnings
      %th
      %th

  =button_tag  "Quickcheck completed", :id => :quickcheck_completed, :style => 'display:none'

  :javascript
    var authenticity_token = "#{ form_authenticity_token }"
    var docs = #{household_qualification_docs}
    var color_code = '#{household_color_code}'
    var client_id = #{client.id}
    var permissions = #{{:upload_permitted => current_user_permitted?({:controller => 'qualification_documents', :action => 'upload'}),
                         :download_permitted => current_user_permitted?({:controller => 'qualification_documents', :action => 'show'}),
                         :delete_permitted => current_user_permitted?({:controller => 'qualification_documents', :action => 'delete'})}.to_json}
    var qualdoc = new Quickcheck.QualdocView(docs, color_code, permissions)
