!!! 5
%html
  %head
    %title= t :title
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tag
    = content_for :head
  %body
    #banner
      #logo
      #banner_text= t :banner_text
    #role{:style => "position :absolute; left : '0px'"}
      = session[:role] && session[:role].current_role_ids.map{|id| Role.find(id).name}.join(', ')
    #content
      = content_for?(:authengine) ?  yield(:authengine) :  yield
  #nav
    = render :partial => 'layouts/left_nav' if logged_in?
